@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* ეს თაგი არის 1 ლეველის ჰედინგი და ჩვენ მას მივეცით სხვადასხვა დეტალი */

h1{
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    font-style: italic;
  
}
/* body-ში იწერება მთლიანი საიტის ინფორმაცია */
body{
    background: url(maxresdefault.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}
/* ეს არის სიის თეგი */
    ul {
        padding: 0;
        margin-top:10px;
        width: 100%;
}
/* სიის თეგის შვილი */
li{
    display: inline;
}

/* მაუსის მიტანისას ელემენტი იღებს სასურველ ფორმას */
a:hover{
    color: aqua;
}
/* პარაგრაფ თეგი რომელიც გვეხმარება დიდი ტექსტის დაწერისთის */
p{
    color:whitesmoke;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
/* ფოტოს თეგი */
img{
   
    border: 5px solid green;
}

/* მითითებული კლასის დეტალები */
.avso{
    outline:auto;
    text-decoration: underline;
    display:inline-block;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 15px;
    box-sizing:border-box;
    width: 31%;
    color: white;
    background-color: green;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
}
/* მითითებული კლასის დეტალები */
.avso2{
    outline:auto;
    text-decoration: underline;
    display:inline-block;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 15px;
    box-sizing:border-box;
    width: 31%;
    color: white;
    background-color: green;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
}
/* მითითებული კლასის დეტალები */
.avso3{
    outline:auto;
    text-decoration: underline;
    display:inline-block;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding: 15px;
    box-sizing:border-box;
    width: 31%;
    color: white;
    background-color: green;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
}
/* ლინკის თეგის დეტალები */
a{
    color: rgb(18, 19, 18);
}
label{
    color: white;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
}
table{
    display: inline-block;
    width: 1000px;
    height: auto;
    color: aliceblue;
    border: 5px solid black;
    background-color: green;
    font-size: 1rem;
    border-collapse: collapse;
    padding-bottom: 2px;
    padding: 3px;
    font-family: 'Press Start 2P', cursive;
}
tr,td{
    width: 100%;
    height: 100%;
    color:white;
    padding: 1px;
    padding-left: 5px;
    border: solid 5px black;
    font-family: 'Press Start 2P', cursive;
}
a:hover{
    font-size: large;
}
a:link{
    text-decoration: none;
    cursor: pointer;
}
a:active{
    color: beige;
}
.div23{
   display: flex;
   justify-content: center;
}
.div44{
    justify-content: center;
}
.div99{
    justify-content: center;
}
.mama99{
    justify-content: center;
    display: flex;
}
iframe{
    border: 5px solid green;
}
img{
    border-radius: 50px;
    border-style: outset;
}
.deda1{
    font-size: x-large;
}
.deda2{
    font-size: x-large;
}